body {
  padding: 0;
  margin: 0;
  background-image: url("../images/registerLoginBackgroundImage.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* max-width: 400px; */
  width: 20%;
  margin: 5% auto;
  padding: 2% 5%;
  border-radius: 45px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 2.5rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
}
form button {
  width: 70%;
  margin: 0 auto;
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(135deg, rgb(247, 160, 0), rgb(253, 68, 68));
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-image 0.3s;
}
form button:hover {
  background-image: linear-gradient(135deg, rgb(253, 68, 68), rgb(247, 160, 0));
}

.container p {
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
}
.container p a {
  color: #fff;
  text-decoration: none;
}
